<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>giraffe hug</key>
		<string>wow so wholesome</string>
	</dict>
	<dict>
		<key>giraffe tongue</key>
		<string>he must be a good kisser</string>
	</dict>
	<dict>
		<key>giraffe drunk</key>
		<string>same</string>
	</dict>
	<dict>
		<key>giraffe bussiness</key>
		<string>mccombs snek</string>
	</dict>
</array>
</plist>
